# Environment
ENVIRONMENT=local

# Django
SECRET_KEY=change-me-with-a-generated-secret-key
DEBUG=True
ALLOWED_HOSTS='*'
APP_PORT=8000

# Docker Compose project
COMPOSE_PROJECT_NAME=saas
DB_CONTAINER_NAME=saas_db

# Database
DB_NAME=saas_db
DB_USER=saas_user
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432

# Superuser created by the create_admin_auto command
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change-me
